**
!decrumb.py
!diagnostics.py
!release.json
!notes.py
!phone_commands.py
!portable_cleaner.py
!web_server.py
!container_dependency.py
!LICENSE
!rules/
!rules/defaults.json
!container/
!container/Dockerfile
!container/dependencies.json
!linux/
!linux/dependencies.json
!web/
!web/**
!docs/
!docs/PROVENANCE.md
!docs/THIRD-PARTY.md
